<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1.2, user-scalable=0" name="viewport" />
        <meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
        <!-- 启用360浏览器的极速模式(webkit) -->
        <meta name="renderer" content="webkit">
        <!-- 避免IE使用兼容模式 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
        <meta name="HandheldFriendly" content="true">
        <!-- 微软的老式浏览器 -->
        <meta name="MobileOptimized" content="320">
        <!-- uc强制竖屏 -->
        <meta name="screen-orientation" content="portrait">
        <!-- QQ强制竖屏 -->
        <meta name="x5-orientation" content="portrait">
        <!-- UC强制全屏 -->
        <meta name="full-screen" content="yes">
        <!-- QQ强制全屏 -->
        <meta name="x5-fullscreen" content="true">
        <!-- UC应用模式 -->
        <meta name="browsermode" content="application">
        <!-- QQ应用模式 -->
        <meta name="x5-page-mode" content="app">
        <!-- windows phone 点击无高光 -->
        <meta name="msapplication-tap-highlight" content="no">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1.2, user-scalable=0" name="viewport" />
        <title>商城列表</title>
        <link rel="stylesheet" href="../resource/css/global.css" />
        <link rel="stylesheet" href="../resource/css/my_country.css" />
        <script type="text/javascript" src="../resource/js/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="wrap">
       <div class="box">
           <ul>
               <li>
                   <div class="lpu">
                       <img src="../resource/images/dashu.png"  alt="" />
                   </div>
                   <p class="name_box">鼠</p>
                   <p class="ssjj">时尚简约</p>
                   <div class="lia_box">
                       <span class="prc">￥<em>1</em></span>
                   </div>
               </li>
               <li>
                   <div class="lpu">
                        <div class="suo"></div>
                       <img src="../resource/images/daniu.png"  alt="" />
                   </div>
                   <p class="name_box">牛</p>
                   <p class="ssjj">时尚简约</p>
                   <div class="lia_box">
                       <span class="prc">￥<em>2</em></span>
                   </div>
               </li>
               <li>
                   <div class="lpu">
                        <div class="suo"></div>
                       <img src="../resource/images/dahu.png"  alt="" />
                   </div>
                   <p class="name_box">虎</p>
                   <p class="ssjj">时尚简约</p>
                   <div class="lia_box">
                       <span class="prc">￥<em>3</em></span>
                   </div>
               </li>
               <li>
                   <div class="lpu">
                        <div class="suo"></div>
                       <img src="../resource/images/datu.png"  alt="" />
                   </div>
                   <p class="name_box">兔</p>
                   <p class="ssjj">时尚简约</p>
                   <div class="lia_box">
                       <span class="prc">￥<em>4</em></span>
                   </div>
               </li>
               <li>
                   <div class="lpu">
                        <div class="suo"></div>
                       <img src="../resource/images/dalong.png"  alt="" />
                   </div>
                   <p class="name_box">龙</p>
                   <p class="ssjj">时尚简约</p>
                   <div class="lia_box">
                       <span class="prc">￥<em>5</em></span>
                   </div>
               </li>
               <li>
                   <div class="lpu">
                        <div class="suo"></div>
                       <img src="../resource/images/dashe.png"  alt="" />
                   </div>
                   <p class="name_box">蛇</p>
                   <p class="ssjj">时尚简约</p>
                   <div class="lia_box">
                       <span class="prc">￥<em>6</em></span>
                   </div>
               </li>
               <li>
                   <div class="lpu">
                        <div class="suo"></div>
                       <img src="../resource/images/dama.png"  alt="" />
                   </div>
                   <p class="name_box">马</p>
                   <p class="ssjj">时尚简约</p>
                   <div class="lia_box">
                       <span class="prc">￥<em>7</em></span>
                   </div>
               </li>
               <li>
                   <div class="lpu">
                        <div class="suo"></div>
                       <img src="../resource/images/dayang.png"  alt="" />
                   </div>
                   <p class="name_box">羊</p>
                   <p class="ssjj">时尚简约</p>
                   <div class="lia_box">
                       <span class="prc">￥<em>8</em></span>
                   </div>
               </li>
               <li>
                   <div class="lpu">
                        <div class="suo"></div>
                       <img src="../resource/images/dahou.png"  alt="" />
                   </div>
                   <p class="name_box">猴</p>
                   <p class="ssjj">时尚简约</p>
                   <div class="lia_box">
                       <span class="prc">￥<em>9</em></span>
                   </div>
               </li>
               <li>
                   <div class="lpu">
                        <div class="suo"></div>
                       <img src="../resource/images/daji.png"  alt="" />
                   </div>
                   <p class="name_box">鸡</p>
                   <p class="ssjj">时尚简约</p>
                   <div class="lia_box">
                       <span class="prc">￥<em>10</em></span>
                   </div>
               </li>
               <li>
                   <div class="lpu">
                        <div class="suo"></div>
                       <img src="../resource/images/dagou.png"  alt="" />
                   </div>
                   <p class="name_box">狗</p>
                   <p class="ssjj">时尚简约</p>
                   <div class="lia_box">
                       <span class="prc">￥<em>11</em></span>
                   </div>
               </li>
               <li>
                   <div class="lpu">
                        <div class="suo"></div>
                       <img src="../resource/images/dazhu.png"  alt="" />
                   </div>
                   <p class="name_box">猪</p>
                   <p class="ssjj">时尚简约</p>
                   <div class="lia_box">
                       <span class="prc">￥<em>12</em></span>
                   </div>
               </li>
           </ul>
       </div>
    </div>
    <!-- 分享弹框 -->
    <div class="zj_bglayer zj_bglayer_da">
        <div class="bai_layer">
            <div class="del"></div>
            <p class="zyshl1">分享<span>三个好友</span>可成功解锁一个生肖</p>
            <div class="xiaol xiaol2"></div>
        </div>
    </div>
    <!-- 分享弹框结束 -->
     <!-- 购买弹框 -->
    <div class="zj_bglayer zj_bglayer1">
        <div class="bai_layer">
            <div class="del"></div>
            <p class="dazi">0</p>
            <input type="number" class="ipt" placeholder="请填写购买数量"/>
            <div class="ssan">
              <div class="sspan">
                <span class="span1"></span>
                <span class="span2"></span>
                <span class="span3"></span>
              </div>
            </div>
            <div class="zyshl">
                <div class="iptr"><input type="checkbox"/></div>
                <span>有复投币自动抵扣</span>
            </div>
            <div class="yhsh yhsh1">立即购买</div>
        </div>
    </div>
    <!-- 购买弹框结束 -->
    <!-- 购买成功弹框 -->
    <div class="zj_bglayer zj_bglayer2">
        <div class="bai_layer">
            <div class="del"></div>
            <div class="xiaol"></div>
            <p class="zyshl">购买成功</p>
            <div class="yhsh" onclick='javascript:location.href="my_index.html"'>查看新窝</div>
        </div>
    </div>
    <!-- 购买成功弹框结束 -->
</body>
</html>
<script type="text/javascript" src="../resource/js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript">
    $(function(){
      var my_val=0;
      var my_yong;
           $('.box li').click(function(event) {
                if($(this).find('div').hasClass('suo')){
                  $('.zj_bglayer_da').show();
                }else{
                  $('.zj_bglayer1').show();
                }
                var my_price=$(this).find('.prc em').text();
               my_yong=my_price;
             
          });
        $(document).on('click','.iptr input',function(event) {
                var my_index=$(this)
                if($(my_index).is(':checked')){
                    $('.iptr').addClass('lv_dot')
                }else{
                    $('.iptr').removeClass('lv_dot')
                }
        });
        $(document).on('click','.del',function(){
            $(this).parents('.zj_bglayer').hide();
            $('.ipt').val('0');
            $('.dazi,.span2').text('0')
            my_val=0;
        })
        $(document).on('click','.yhsh1',function(){
            $('.zj_bglayer2').show();
            $('.zj_bglayer1').hide();
        })

         $('.span3').click(function(event) {
                my_val++;
                if(my_val>=8){
                      my_val=8;
                      alert('请购买更大的棚')
                    }
                if(my_val>=1){
                  $('.span1').addClass('span11');
                }else{
                  $('.span1').removeClass('span11');
                }
                 $('.span2 ').text(my_val)
                $('.ipt').val(my_val);
                 var num=my_yong*my_val
                $('.dazi').text(num)
            });
        
        $('.span1').click(function(event) {
            my_val--;
            if(my_val<=0){
              my_val=0;
            }
            if(my_val>=1){
              $('.span1').addClass('span11');
            }else{
              $('.span1').removeClass('span11');
            }
            $('.span2 ').text(my_val);
            $('.ipt').val(my_val);
             var num=my_yong*my_val
            $('.dazi').text(num)
        });
        $('.ipt').keyup(function(event) {
            var my_iptt=$(this).val();
            $('.span2 ').text(my_iptt);
            my_val=my_iptt;
            var num=my_yong*my_iptt
            $('.dazi').text(num)
        });
        $('.xiaol2').click(function(event) {
            $(this).parents('.zj_bglayer_da').hide();
            $('.zj_bglayer1').show();
        });
    })
</script>