<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->

        <meta content="width=device-width, initial-scale=1, maximum-scale=1.2, user-scalable=0" name="viewport" />
        <meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
        <!-- 启用360浏览器的极速模式(webkit) -->
        <meta name="renderer" content="webkit">
        <!-- 避免IE使用兼容模式 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
        <meta name="HandheldFriendly" content="true">
        <!-- 微软的老式浏览器 -->
        <meta name="MobileOptimized" content="320">
        <!-- uc强制竖屏 -->
        <meta name="screen-orientation" content="portrait">
        <!-- QQ强制竖屏 -->
        <meta name="x5-orientation" content="portrait">
        <!-- UC强制全屏 -->
        <meta name="full-screen" content="yes">
        <!-- QQ强制全屏 -->
        <meta name="x5-fullscreen" content="true">
        <!-- UC应用模式 -->
        <meta name="browsermode" content="application">
        <!-- QQ应用模式 -->
        <meta name="x5-page-mode" content="app">
        <!-- windows phone 点击无高光 -->
        <meta name="msapplication-tap-highlight" content="no">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1.2, user-scalable=0" name="viewport" />
        <title>选择提现方式</title>
        <link rel="stylesheet" href="../resource/css/global.css" />
        <link rel="stylesheet" href="../resource/css/my_draw.css" />
        <script type="text/javascript" src="../resource/js/jquery-1.11.1.min.js"></script>
    </head>
    <body>
        <div class="wrap">
            <ul class="ul1">
                <li class="xxx" onclick='javascript:location.href="my_draw.html"'><a href="javascript:;" class="yyy">微信红包</a></li>
                <li onclick='javascript:location.href="bank_draw.html"'><a href="javascript:;">银行卡</a></li>
            </ul>
            <div class="big_box">
                <div class="hui_box">微信红包</div>
                <p class="txje">提现金额</p>
                <div class="xjin">
                    <span>￥</span>
                    <input type="number" />
                </div>
                <div class="has_box">当前余额<span>12.12</span>元</div>
            </div>
            <div class="sure_box">确定</div>
        </div>
    </body>
</html>
<script type="text/javascript" src="../resource/js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('.sure_box').click(function(event) {
                $(this).css({'background':'#1dca00','color':'#fff'})
         });
        $('.ul1 li').click(function(event) {
                $(this).addClass('xxx').siblings().removeClass('xxx')
                 $(this).children().addClass('yyy').parent().siblings().children().removeClass('yyy')
        });
    })
</script>